<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Traveleyte</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Pacifico:300,300i,400,400i,500,500i,600,600i,700,700i|Josefin Sans:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!--  CSS Files -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css"
    />
   
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
    />

   

    <!-- Main CSS File -->
    <link href="./css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/home" class="logo d-flex align-items-center">
         
          <span class="travel d-none d-lg-block">Travel</span>
          <span class="eyte d-none d-lg-block">eyte</span>
        </a>
      
      </div>
      <!-- End Logo -->

      <nav class="header-nav ms-auto  ">
        <ul class="nav">

          <% if( isAuthenticated ) { %>
          <li class="nav-item ">
            <a class="nav-link text-white mt-3  <% if(title === 'Home') { %> active <% } %>" href="/home">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white mt-3 <% if(title === 'Add a Blog') { %> active <% } %> " href="/add_blog">Add a Blog</a>
          </li>
         
         
          <li class="nav-item">
            <a class="nav-link text-white mt-3 " href="./logout">Logout</a>
          </li>
          <% } %>
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

   