<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link <% if(title === 'Home') { %> active <% } %>"
        href="./home"
      >
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Manage Blog</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="components-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a
            class="<% if(title === 'Add_Blog') { %> active <% } %>"
            href="./add_blog"
          >
            <i class="bi bi-circle"></i><span>Add New Blog</span>
          </a>
        </li>
        <li>
          <a class="<% if(title === 'Traveleyte') { %> active <% } %>" href="#">
            <i class="bi bi-circle"></i><span>Update Blogs</span>
          </a>
        </li>
        <li>
          <a class="<% if(title === 'Traveleyte') { %> active <% } %>" href="#">
            <i class="bi bi-circle"></i><span>Delete Blogs</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Manage Nav -->

    <li class="nav-item">
      <a
        class="nav-link <% if(title === 'Add_Blog') { %> active <% } %>"
        href="./add_blog"
      >
        <i class="bi bi-database-add"></i>
        <span>Add New Blog</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a
        class="nav-link <% if(title === 'Update') { %> active <% } %>"
        href="./update"
      >
        <i class="bi bi-pencil-square"></i><span>Edit Blog</span>
      </a>
    </li>
    <!-- End Image Nav -->

    <li class="nav-item">
      <a
        class="nav-link<% if(title === 'Image') { %> active <% } %>"
        href="./update"
      >
        <i class="bi bi-trash"></i><span>Delete Blog</span>
      </a>
    </li>
    <!-- End Image Nav -->

    <!-- End Nav -->
  </ul>
</aside>
