<%- include("../partials/header") %>

<main id="main" class="main">
  <div class="card bg-transparent shadow-none" id="card-form">
    <div class="card-body">
      <h5 class="card-title" id="add-page-title">Add a New Blog</h5>

      <% if(error_msg !== "" ) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
        <span><%- error_msg %></span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } else if( success_msg !== "" ) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>
        <span><%- success_msg %></span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      <% } %>

      <!-- Floating Labels Form -->
      <form
        class="row g-3 h-75 my-form"
        method="post"
        action="/add_blog"
        enctype="multipart/form-data"
      >
        <div class="col-md-6">
          <div class="form-floating">
            <input
              type="text"
              name="title"
              class="form-control"
              placeholder="Add Title"
            />
            <label for="title">Add Title</label>
          </div>
          <br />

          <div class="form-floating">
            <input
              type="text"
              name="subtitle"
              class="form-control"
              placeholder="Add Subtitle"
            />
            <label for="subtitle">Add Subtitle</label>
          </div>
          <br />

          <div class="col-md-12">
            <div class="form-floating">
              <input type="file" class="form-control" name="files" />
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-floating">
            <textarea
              name="content"
              class="form-control"
              placeholder="Add Content"
              style="height: 300px"
            ></textarea>

            <label for="Content">Add Content</label>
          </div>
        </div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-outline-success w-25"
            id="submit-button"
          >
            Submit
          </button>
        </div>
      </form>
      <!-- End floating Labels Form -->
    </div>
  </div>
</main>
<!-- End #main -->
<%- include("../partials/footer") %>
