
<%- include("../partials/header") %>


<main id="main" class="main">
  <div class="container w-75" id="home-container">
    <div class="blog rounded-2 p-4 border border-1">
      <% if (data && data.length > 0) { %> 
      <% const itemsPerPage = 1; %> <%
      const totalPages = Math.ceil(data.length / itemsPerPage); %>
       <% for (let page = 1; page <= totalPages; page++) { %>
    
       <div id="page<%= page %>" class="page <%= page === 1 ? 'show' : '' %>"

      ><!--Style above use to display only 1 content if remove all blogs will show on 1 page-->
        <% const startIndex = (page - 1) * itemsPerPage; %> 
       
        <% const endIndex = Math.min(startIndex + itemsPerPage - 1, data.length - 1); %> 
        
        <% for (let i = startIndex; i <= endIndex; i++) { %>
         
        
          
          
          <h5 class="title fw-bold mt-3"><%= data[i].title %></h5>
        
          <i><h5 class="subtitle text-danger"><%= data[i].subtitle %></h5></i>
          <div class="container-image ms-5">
          <img src="<%= data[i].filename %>" class="blog-image img-fluid img-thumbnail mx-auto d-block me-5 mt-3" alt="Image" />
         </div>
          <p class="base64  mt-1 ms-5"><%= data[i].image %></p>
          <p class="pcontent p-4 pt-0"><%= data[i].content %></p>
          
        
        

        <span><i><p class="small">Posted on: <%= data[i].insert_dt %></p></i></span
        >
        <a
          href="#"
          class="read-more  text-decoration-underline d-flex align-items-center"
          
          >   <span class="bi bi-pencil icon-margin"></span>Edit this post</a>  
      
       
        <% } %>
      </div>
      <% } %>

                 
    </div>
  </div>

    
     <!-- Simple Pagination links -->
<!-- Simple Pagination links -->
<div class="pagination-container col-md-3 rounded-1 ">
  <div class="pagination col-md-3 col-sm-3 col-lg-3 pb-3 pt-3">
    <% let currentPage = 1; %>
    <% const itemsPerPageValue = 1; %>
    <% const totalPagesValue = Math.ceil(data.length / itemsPerPageValue); %>
    <% if (totalPagesValue > 1) { %>
      <% for (let page = 1; page <= totalPagesValue; page++) { %>
        <div>
       
          <a href="#" onclick="showPage(event, '<%= page %>' );" class="<%= page === currentPage ? 'active' : '' %> text-white rounded-1">
            <%= data[(page - 1) * itemsPerPageValue].title %><br>
          </a>
        </div>
      <% } %>
    <% } else if (data.length === 1) { %>
      <div>
        <a href="#" onclick="showPage(event, 1)" class="active text-white rounded-1">
          <%= data[0].title %><br>
        </a>  
      </div>
      <% } %>
    
  </div>

  <% } %>
     
</main>



<%- include("../partials/footer") %>
