<title><%- title %></title>
<%- include("../partials/auth_header") %>
<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a class="logo d-flex align-items-center w-auto">
                <span class="travel d-none d-lg-block">Travel</span>
                <span class="eyte d-none d-lg-block">eyte</span>
              </a>
            </div>
            <div class="card mb-3 bg-transparent">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4" id="cards-title">
                    Login to Your Account
                  </h5>
                  <p class="text-center small">
                    Enter your username & password to login
                  </p>
                </div>

                <% if(error_msg !== "" ) { %>
                <div class="mt-4">
                  <span style="color: red"><%- error_msg %></span>
                </div>

                <% } %>
                <form method="post">
                  <div class="col-12">
                    <label for="yourUsername" class="form-label"
                      >Username</label
                    >
                    <div class="input-group">
                      <input type="text" name="username" class="form-control" />
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                    />
                  </div>
                  <br />
                  <div class="col-12">
                    <button class="btn btn-outline-success w-100" type="submit">
                      Login
                    </button>
                  </div>
                  <div class="col-12 mt-4">
                    <p class="small mb-0">
                      Don't have account?
                      <a href="./register">Create an account</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->

<%- include("../partials/footer") %>
