<%- include("../partials/header") %>

<main id="main" class="main">
  <div class="card bg-transparent shadow-none" id="card-form">
    <div class="card-body">
      <h5 class="card-title"></h5>Update</h5>

      <!-- Floating Labels Form -->

      <form
        class="row g-3 h-75 my-form"
        method="post"
        action="/read_more/<%= data && data[0] ? data[0].posts_id : '' %>"
      >
        <div class="col-md-6">
          <div class="form-floating">
            <input
              type="text"
              name="title"
              class="form-control"
              value="<%= data && data.length > 0 ? data[0].title : '' %>"
            />

            <label for="title">Title</label>
          </div>
          <br />

          <div class="form-floating">
            <input
              type="text"
              name="subtitle"
              class="form-control"
              value="<%= data && data[0] ? data[0].subtitle : '' %>"
            />

            <label for="subtitle">Subtitle</label>
          </div>
          <br />

          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="file"
                class="form-control"
                name="files"
                accept=".jpeg,.jpg,.png"
                multiple
              />
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-floating">
            <textarea name="content" class="form-control" style="height: 300px">
        <%= data && data[0] ? data[0].content : '' %></textarea
            >

            <label for="Content">Content</label>
          </div>
        </div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-outline-dark w-25"
            id="submit-button"
          >
            Save
          </button>
        </div>
      </form>
      <!-- End floating Labels Form -->
    </div>
  </div>
</main>
<!-- End #main -->

<%- include("../partials/footer") %>
