<title><%- title %></title>
<%- include("../partials/auth_header") %>

<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-5 col-md-8 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="" />
                <span class="travel d-none d-lg-block">Travel</span>
                <span class="eyte d-none d-lg-block">eyte</span>
              </a>
            </div>
            <div class="card mb-3 col-lg-12 col-md-12">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Create an Account
                  </h5>
                  <p class="text-center small">
                    Enter your personal details to create account
                  </p>
                </div>

                <% if(error_msg !== "" ) { %>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  <i class="bi bi-exclamation-octagon me-1"></i>
                  <span><%- error_msg %></span>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                <% } else if( success_msg !== "" ) { %>
                <div
                  class="alert alert-success alert-dismissible fade show"
                  role="alert"
                >
                  <i class="bi bi-check-circle me-1"></i>
                  <span><%- success_msg %></span>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>

                <% } %>
                <form method="post" class="row g-4">
                  <div class="col-4">
                    <label for="first_name" class="form-label"
                      >First Name</label
                    >
                    <input type="text" name="first_name" class="form-control" />
                  </div>
                  <div class="col-4">
                    <label for="middle_name" class="form-label"
                      >Middle Name</label
                    >
                    <input
                      type="text"
                      name="middle_name"
                      class="form-control"
                    />
                  </div>
                  <div class="col-4">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" name="last_name" class="form-control" />
                  </div>

                  <div class="col-6">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" />
                  </div>

                  <div class="col-6">
                    <label for="Email" class="form-label">Age</label>
                    <input type="number" name="age" class="form-control" />
                  </div>

                  <div class="col-12">
                    <label for="Email" class="form-label">Gender</label><br />
                    <select id="gender" name="gender" class="form-select">
                      <option value="#" disabled selected>Select Gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>

                  <div class="col-6">
                    <label for="Username" class="form-label">Username</label>
                    <div class="input-group has-validation">
                      <input type="text" name="username" class="form-control" />
                    </div>
                  </div>
                  <div class="col-6">
                    <label for="Password" class="form-label">Password</label>
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                    />
                  </div>
                  <div class="col-12 text-center">
                    <br />
                    <button
                      class="btn btn-outline-success w-50 mx-auto"
                      type="submit"
                    >
                      Create Account
                    </button>
                  </div>

                  <div class="col-12 mt-4">
                    <p class="small mb-0">
                      Already have an account?
                      <a href="/">Log in</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End main -->

<%- include("../partials/footer") %>
